# 01_scrap
- scrapping data from newsdata.io and upload to DataPlatform

## Getting data from newsdata.io

In [2]:
import requests
from tqdm.auto import tqdm
import json

In [3]:
import requests

url_get = requests.get('https://pusatdata.kontan.co.id/makroekonomi/inflasi')

In [4]:
url_get.content[1:500]

b'!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">\n<html xmlns="http://www.w3.org/1999/xhtml">\n<head>\n\t<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />\n\t<meta name="viewport" content="width=device-width, initial-scale=1.0">\n    <link rel="shortcut icon" href="//assets.kontan.co.id/favicon.ico"/>\n\t<link rel="stylesheet" href="//assets.kontan.co.id/debar/pusatdata/css/font-awesome/css/font-awesome.min.css">'

In [5]:
from bs4 import BeautifulSoup 

soup = BeautifulSoup(url_get.content,"html.parser")
print(type(soup))

<class 'bs4.BeautifulSoup'>

In [6]:
print(soup.prettify()[:500])

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="//assets.kontan.co.id/favicon.ico" rel="shortcut icon"/>
  <link href="//assets.kontan.co.id/debar/pusatdata/css/font-awesome/css/font-awesome.min.css" rel="stylesheet

In [7]:
table = soup.find('div', attrs={'class':'baris-scroll'})
print(table.prettify()[1:500])

div class="baris-scroll">
 <div class="tabel-body">
  <div class="kol-konten3-1">
   30/09/2022
  </div>
  <div class="kol-konten3-2">
   <div class="w-30-px txtright center-max">
    1,17
   </div>
  </div>
  <div class="kol-konten3-3">
   <div class="w-30-px txtright center-max">
    5,95
   </div>
  </div>
 </div>
 <div class="tabel-body">
  <div class="kol-konten3-1">
   31/08/2022
  </div>
  <div class="kol-konten3-2">
   <div class="w-30-px txtright center-max">
    0,21
   </div>
  </div

In [8]:
row = table.find_all('div', attrs={'class':'kol-konten3-1'})
row_length = len(row)
row_length

50

In [9]:
temp = [] #init

for i in range(1, row_length):
    
    #get period 
    period = table.find_all('div', attrs={'class':'kol-konten3-1'})[i].text
    
    #get inflation mom
    inflation_mom = table.find_all('div', attrs={'class':'kol-konten3-2'})[i].text
    inflation_mom = inflation_mom.strip() #to remove excess white space
    
    #get inflation yoy
    inflation_yoy = table.find_all('div', attrs={'class':'kol-konten3-3'})[i].text
    inflation_yoy = inflation_yoy.strip() #to remove excess white space
    
    temp.append((period,inflation_mom,inflation_yoy)) 
    
temp

[('31/08/2022', '0,21', '4,69'),
 ('31/07/2022', '0,64', '4,94'),
 ('30/06/2022', '0.61', '4.35'),
 ('31/05/2022', '0,40', '3,55'),
 ('30/04/2022', '0,95', '3,47'),
 ('31/03/2022', '0.66', '2.64'),
 ('28/02/2022', '0,54', '2,06'),
 ('31/01/2022', '0,56', '2,18'),
 ('31/12/2021', '0,57', '1,87'),
 ('30/11/2021', '0,37', '1,75'),
 ('31/10/2021', '0,12', '1,66'),
 ('30/09/2021', '0,04', '1,60'),
 ('31/08/2021', '0,03', '1,59'),
 ('31/07/2021', '0,08', '1,52'),
 ('30/06/2021', '0,16', '1,33'),
 ('31/05/2021', '0,32', '1,68'),
 ('30/04/2021', '0,13', '1,42'),
 ('31/03/2021', '0,08', '1,37'),
 ('28/02/2021', '0,10', '1.38'),
 ('31/01/2021', '0,26', '1.55'),
 ('31/12/2020', '0,45', '1.68'),
 ('30/11/2020', '0,28', '1.59'),
 ('31/10/2020', '0,07', '1.44'),
 ('30/09/2020', '0,05', '1,42'),
 ('31/08/2020', '0.05', '1.32'),
 ('31/07/2020', '0.04', '1.54'),
 ('30/06/2020', '0.18', '1.96'),
 ('31/05/2020', '0,07', '2,19'),
 ('30/04/2020', '0,08', '2,67'),
 ('31/03/2020', '0.10', '2.96'),
 ('28/02/2020', '0,28', '2,98'),
 ('31/01/2020', '0,39', '2,68'),
 ('31/12/2019', '0,34', '2,27'),
 ('30/11/2019', '0,14', '3'),
 ('31/10/2019', '0,02', '2,22'),
 ('30/09/2019', '-0,27', '3,39'),
 ('31/08/2019', '0,12', '3,49'),
 ('31/07/2019', '0,31', '3,32'),
 ('30/06/2019', '0,55', '3,28'),
 ('31/05/2019', '0,68', '3,32'),
 ('30/04/2019', '0,44', '2,83'),
 ('31/03/2019', '0,11', '2,48'),
 ('28/02/2019', '-0,08', '2,57'),
 ('31/01/2019', '0,32', '2,82'),
 ('31/12/2018', '0,62', '3,13'),
 ('30/11/2018', '0,27', '3,23'),
 ('31/10/2018', '0,28', '3,16'),
 ('30/09/2018', '-0,18', '2,88'),
 ('31/08/2018', '-0,05', '3,20')]

In [10]:
temp = temp[::-1]
temp

[('31/08/2022', '0,21', '4,69'),
 ('31/07/2022', '0,64', '4,94'),
 ('30/06/2022', '0.61', '4.35'),
 ('31/05/2022', '0,40', '3,55'),
 ('30/04/2022', '0,95', '3,47'),
 ('31/03/2022', '0.66', '2.64'),
 ('28/02/2022', '0,54', '2,06'),
 ('31/01/2022', '0,56', '2,18'),
 ('31/12/2021', '0,57', '1,87'),
 ('30/11/2021', '0,37', '1,75'),
 ('31/10/2021', '0,12', '1,66'),
 ('30/09/2021', '0,04', '1,60'),
 ('31/08/2021', '0,03', '1,59'),
 ('31/07/2021', '0,08', '1,52'),
 ('30/06/2021', '0,16', '1,33'),
 ('31/05/2021', '0,32', '1,68'),
 ('30/04/2021', '0,13', '1,42'),
 ('31/03/2021', '0,08', '1,37'),
 ('28/02/2021', '0,10', '1.38'),
 ('31/01/2021', '0,26', '1.55'),
 ('31/12/2020', '0,45', '1.68'),
 ('30/11/2020', '0,28', '1.59'),
 ('31/10/2020', '0,07', '1.44'),
 ('30/09/2020', '0,05', '1,42'),
 ('31/08/2020', '0.05', '1.32'),
 ('31/07/2020', '0.04', '1.54'),
 ('30/06/2020', '0.18', '1.96'),
 ('31/05/2020', '0,07', '2,19'),
 ('30/04/2020', '0,08', '2,67'),
 ('31/03/2020', '0.10', '2.96'),
 ('28/02/2020', '0,28', '2,98'),
 ('31/01/2020', '0,39', '2,68'),
 ('31/12/2019', '0,34', '2,27'),
 ('30/11/2019', '0,14', '3'),
 ('31/10/2019', '0,02', '2,22'),
 ('30/09/2019', '-0,27', '3,39'),
 ('31/08/2019', '0,12', '3,49'),
 ('31/07/2019', '0,31', '3,32'),
 ('30/06/2019', '0,55', '3,28'),
 ('31/05/2019', '0,68', '3,32'),
 ('30/04/2019', '0,44', '2,83'),
 ('31/03/2019', '0,11', '2,48'),
 ('28/02/2019', '-0,08', '2,57'),
 ('31/01/2019', '0,32', '2,82'),
 ('31/12/2018', '0,62', '3,13'),
 ('30/11/2018', '0,27', '3,23'),
 ('31/10/2018', '0,28', '3,16'),
 ('30/09/2018', '-0,18', '2,88'),
 ('31/08/2018', '-0,05', '3,20')]

In [10]:
import pandas as pd

df = pd.DataFrame(temp, columns = ('period','inflation_mom','inflation_yoy'))
df.head()

       period inflation_mom inflation_yoy
0  31/08/2022          0,21          4,69
1  31/07/2022          0,64          4,94
2  30/06/2022          0.61          4.35
3  31/05/2022          0,40          3,55
4  30/04/2022          0,95          3,47

In [11]:
df['inflation_mom'] = df['inflation_mom'].str.replace(",",".")
df['inflation_mom'] = df['inflation_mom'].astype('float64')
df['inflation_yoy'] = df['inflation_yoy'].str.replace(",",".")
df['inflation_yoy'] = df['inflation_yoy'].astype('float64')

df.dtypes

period            object
inflation_mom    float64
inflation_yoy    float64
dtype: object

In [12]:
df

        period  inflation_mom  inflation_yoy
0   31/08/2022           0.21           4.69
1   31/07/2022           0.64           4.94
2   30/06/2022           0.61           4.35
3   31/05/2022           0.40           3.55
4   30/04/2022           0.95           3.47
5   31/03/2022           0.66           2.64
6   28/02/2022           0.54           2.06
7   31/01/2022           0.56           2.18
8   31/12/2021           0.57           1.87
9   30/11/2021           0.37           1.75
10  31/10/2021           0.12           1.66
11  30/09/2021           0.04           1.60
12  31/08/2021           0.03           1.59
13  31/07/2021           0.08           1.52
14  30/06/2021           0.16           1.33
15  31/05/2021           0.32           1.68
16  30/04/2021           0.13           1.42
17  31/03/2021           0.08           1.37
18  28/02/2021           0.10           1.38
19  31/01/2021           0.26           1.55
20  31/12/2020           0.45           1.68
21  30/11/2020           0.28           1.59
22  31/10/2020           0.07           1.44
23  30/09/2020           0.05           1.42
24  31/08/2020           0.05           1.32
25  31/07/2020           0.04           1.54
26  30/06/2020           0.18           1.96
27  31/05/2020           0.07           2.19
28  30/04/2020           0.08           2.67
29  31/03/2020           0.10           2.96
30  28/02/2020           0.28           2.98
31  31/01/2020           0.39           2.68
32  31/12/2019           0.34           2.27
33  30/11/2019           0.14           3.00
34  31/10/2019           0.02           2.22
35  30/09/2019          -0.27           3.39
36  31/08/2019           0.12           3.49
37  31/07/2019           0.31           3.32
38  30/06/2019           0.55           3.28
39  31/05/2019           0.68           3.32
40  30/04/2019           0.44           2.83
41  31/03/2019           0.11           2.48
42  28/02/2019          -0.08           2.57
43  31/01/2019           0.32           2.82
44  31/12/2018           0.62           3.13
45  30/11/2018           0.27           3.23
46  31/10/2018           0.28           3.16
47  30/09/2018          -0.18           2.88
48  31/08/2018          -0.05           3.20

In [13]:
result = df.to_dict('record')

/tmp/ipykernel_662/2608083859.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  result = df.to_dict('record')

In [14]:
result

[{'period': '31/08/2022', 'inflation_mom': 0.21, 'inflation_yoy': 4.69},
 {'period': '31/07/2022', 'inflation_mom': 0.64, 'inflation_yoy': 4.94},
 {'period': '30/06/2022', 'inflation_mom': 0.61, 'inflation_yoy': 4.35},
 {'period': '31/05/2022', 'inflation_mom': 0.4, 'inflation_yoy': 3.55},
 {'period': '30/04/2022', 'inflation_mom': 0.95, 'inflation_yoy': 3.47},
 {'period': '31/03/2022', 'inflation_mom': 0.66, 'inflation_yoy': 2.64},
 {'period': '28/02/2022', 'inflation_mom': 0.54, 'inflation_yoy': 2.06},
 {'period': '31/01/2022', 'inflation_mom': 0.56, 'inflation_yoy': 2.18},
 {'period': '31/12/2021', 'inflation_mom': 0.57, 'inflation_yoy': 1.87},
 {'period': '30/11/2021', 'inflation_mom': 0.37, 'inflation_yoy': 1.75},
 {'period': '31/10/2021', 'inflation_mom': 0.12, 'inflation_yoy': 1.66},
 {'period': '30/09/2021', 'inflation_mom': 0.04, 'inflation_yoy': 1.6},
 {'period': '31/08/2021', 'inflation_mom': 0.03, 'inflation_yoy': 1.59},
 {'period': '31/07/2021', 'inflation_mom': 0.08, 'inflation_yoy': 1.52},
 {'period': '30/06/2021', 'inflation_mom': 0.16, 'inflation_yoy': 1.33},
 {'period': '31/05/2021', 'inflation_mom': 0.32, 'inflation_yoy': 1.68},
 {'period': '30/04/2021', 'inflation_mom': 0.13, 'inflation_yoy': 1.42},
 {'period': '31/03/2021', 'inflation_mom': 0.08, 'inflation_yoy': 1.37},
 {'period': '28/02/2021', 'inflation_mom': 0.1, 'inflation_yoy': 1.38},
 {'period': '31/01/2021', 'inflation_mom': 0.26, 'inflation_yoy': 1.55},
 {'period': '31/12/2020', 'inflation_mom': 0.45, 'inflation_yoy': 1.68},
 {'period': '30/11/2020', 'inflation_mom': 0.28, 'inflation_yoy': 1.59},
 {'period': '31/10/2020', 'inflation_mom': 0.07, 'inflation_yoy': 1.44},
 {'period': '30/09/2020', 'inflation_mom': 0.05, 'inflation_yoy': 1.42},
 {'period': '31/08/2020', 'inflation_mom': 0.05, 'inflation_yoy': 1.32},
 {'period': '31/07/2020', 'inflation_mom': 0.04, 'inflation_yoy': 1.54},
 {'period': '30/06/2020', 'inflation_mom': 0.18, 'inflation_yoy': 1.96},
 {'period': '31/05/2020', 'inflation_mom': 0.07, 'inflation_yoy': 2.19},
 {'period': '30/04/2020', 'inflation_mom': 0.08, 'inflation_yoy': 2.67},
 {'period': '31/03/2020', 'inflation_mom': 0.1, 'inflation_yoy': 2.96},
 {'period': '28/02/2020', 'inflation_mom': 0.28, 'inflation_yoy': 2.98},
 {'period': '31/01/2020', 'inflation_mom': 0.39, 'inflation_yoy': 2.68},
 {'period': '31/12/2019', 'inflation_mom': 0.34, 'inflation_yoy': 2.27},
 {'period': '30/11/2019', 'inflation_mom': 0.14, 'inflation_yoy': 3.0},
 {'period': '31/10/2019', 'inflation_mom': 0.02, 'inflation_yoy': 2.22},
 {'period': '30/09/2019', 'inflation_mom': -0.27, 'inflation_yoy': 3.39},
 {'period': '31/08/2019', 'inflation_mom': 0.12, 'inflation_yoy': 3.49},
 {'period': '31/07/2019', 'inflation_mom': 0.31, 'inflation_yoy': 3.32},
 {'period': '30/06/2019', 'inflation_mom': 0.55, 'inflation_yoy': 3.28},
 {'period': '31/05/2019', 'inflation_mom': 0.68, 'inflation_yoy': 3.32},
 {'period': '30/04/2019', 'inflation_mom': 0.44, 'inflation_yoy': 2.83},
 {'period': '31/03/2019', 'inflation_mom': 0.11, 'inflation_yoy': 2.48},
 {'period': '28/02/2019', 'inflation_mom': -0.08, 'inflation_yoy': 2.57},
 {'period': '31/01/2019', 'inflation_mom': 0.32, 'inflation_yoy': 2.82},
 {'period': '31/12/2018', 'inflation_mom': 0.62, 'inflation_yoy': 3.13},
 {'period': '30/11/2018', 'inflation_mom': 0.27, 'inflation_yoy': 3.23},
 {'period': '31/10/2018', 'inflation_mom': 0.28, 'inflation_yoy': 3.16},
 {'period': '30/09/2018', 'inflation_mom': -0.18, 'inflation_yoy': 2.88},
 {'period': '31/08/2018', 'inflation_mom': -0.05, 'inflation_yoy': 3.2}]

In [15]:
with open('data.json', 'w') as f:
    json.dump(result, f)

## Upload data to DataPlatform

In [16]:
from dsmlibrary.datanode import DataNode

In [17]:
dir_raw_id = 106

In [18]:
datanode = DataNode()

Init DataNode sucessful!

In [19]:
datanode.upload_file(directory_id=dir_raw_id, file_path='data.json')

File data.json alrady exists, do you want to replace y/n :  y

  0%|          | 0.00/3.44k [00:00<?, ?B/s]

{'id': 201,
 'msg': 'file data.json create sucessful',
 'path': 'sutthichet/DSI310-01/rawData/data.json',
 'uploaded': True}